{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-3"> </div>
    <div class="col-md-6" style="border: 1px solid #372e5f; padding: 30px 10px; border-radius: 5px; font-size: 16px;">
      <h2 class="text-center" style="border-bottom: 2px solid #372e5f; color: #372e5f; padding-bottom: 10px;">Sign Up</h2>
      {{wtf.quick_form(registration_form)}}

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock%}